Repository Lightning-AI/utilities, pull requests merged in 2022-08, with the labels that each got.

#10 Parameterise OS and Python versions for reusable workflows
  .github/workflows/check-package.yml
Labels: enhancement, ci/cd

#16 Increase dependabot frequency from monthly to weekly
  .github/dependabot.yml
Labels: ci/cd

#15 Prepare for the initial release
  .github/workflows/ci-testing.yml
  .github/workflows/ci-use-checks.yml
  .github/workflows/release-pypi.yml
  .pep8speaks.yml
Labels: ci/cd

#20 Add import utilities
  .github/workflows/check-code.yml
  README.md
  src/pl_devtools/__about__.py
  src/pl_devtools/imports.py
  tests/unittests/test_imports.py
Labels: enhancement

#21 Add import caches
  src/pl_devtools/imports.py
Labels: enhancement
