Repository Lightning-AI/utilities, pull requests merged in 2022-09, with the labels that each got.

#33 Update lint config to match Lightning's
  .pre-commit-config.yaml
  setup.cfg
Labels: enhancement

#31 CI/CD: add publish workflow
  .github/workflows/publish-pypi.yml
Labels: enhancement

#32 Copy over the `apply_func` utilities
  src/lightning_utilities/core/apply_func.py
  tests/unittests/__init__.py
  tests/unittests/core/__init__.py
  tests/unittests/core/mocks.py
  tests/unittests/core/test_apply_func.py
Labels: enhancement

#35 Copy over `is_overridden`
  src/lightning_utilities/core/overrides.py
  tests/unittests/core/test_overrides.py
Labels: enhancement

#17 CI: pip list action
  .github/actions/pip-list/action.yml
  .github/workflows/check-code.yml
  .github/workflows/check-docs.yml
  .github/workflows/ci-testing.yml
  .github/workflows/docs-deploy.yml
Labels: enhancement, ci/cd

#43 CI: Add reusable workflow to clear caches within a repository
  .github/actions/cache/action.yml
  .github/workflows/clear-cache.yml
  .github/workflows/schedule-clear-cache.yml
Labels: enhancement, ci/cd

#49 CI: increase verbosity and comment schema file location
  .github/workflows/check-schema.yml
Labels: ci/cd

#50 CI: docs require
  .github/workflows/check-docs.yml
  .github/workflows/ci-use-checks.yml
Labels: enhancement

#54 Provide installation instructions in `RequirementCache` error message
  src/lightning_utilities/core/imports.py
  tests/unittests/core/test_imports.py
Labels: enhancement

#56 remove `--flake8` from `make test`
  Makefile
Labels: ci/cd
