Repository Lightning-AI/utilities, pull requests merged in 2022-12, with the labels that each got.

#70 add requires wrapper
  CHANGELOG.md
  src/lightning_utilities/core/imports.py
  tests/unittests/core/test_imports.py
Labels: enhancement

#72 fix: Add py.typed
  src/lightning_utilities/py.typed
Labels: bug

#76 Fix & extend pkg install check
  .github/workflows/check-package.yml
  .github/workflows/ci-testing.yml
  .github/workflows/ci-use-checks.yml
  CHANGELOG.md
  requirements/base.txt
  src/lightning_utilities/__init__.py
  src/lightning_utilities/core/__init__.py
Labels: bug, ci/cd

#78 add names for uses & norm spaces
  .github/actions/cache/action.yml
  .github/actions/unittesting/action.yml
  .github/workflows/check-code.yml
  .github/workflows/check-docs.yml
  .github/workflows/check-package.yml
  .github/workflows/check-schema.yml
  .github/workflows/ci-testing.yml
  .github/workflows/clear-cache.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/publish-pypi.yml
Labels: ci/cd

#77 improve StrEnum
  CHANGELOG.md
  requirements/base.txt
  src/lightning_utilities/core/enums.py
  tests/unittests/core/test_enums.py
Labels: enhancement

#51 fix calling actions in external re-usable workflows
  .github/workflows/check-code.yml
  .github/workflows/check-schema.yml
  .github/workflows/ci-testing.yml
  .github/workflows/ci-use-checks.yml
  .github/workflows/cron-clear-cache.yml
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  README.md
Labels: bug, priority: 0

#48 CI: abstract package actions
  .github/actions/pkg-create/action.yml
  .github/actions/pkg-install/action.yml
  .github/workflows/check-docs.yml
  .github/workflows/check-package.yml
  .github/workflows/ci-use-checks.yml
  .github/workflows/publish-pypi.yml
Labels: enhancement
