Repository Lightning-AI/utilities, pull requests merged in 2023-10, with the labels that each got.

#178 script/adjust: preserve all comments in requirements
  .github/actions/unittesting/action.yml
  .github/workflows/ci-testing.yml
  scripts/adjust-torch-versions.py
  tests/scripts/__init__.py
  tests/scripts/test_adjust_torch_versions.py
Labels: bug, ci/cd, priority: 1

#179 Allow Other targets than html for docs
  .github/workflows/check-docs.yml
  CHANGELOG.md
Labels: ci/cd

#181 Add latex dependency
  .github/workflows/check-docs.yml
  .github/workflows/ci-use-checks.yaml
  CHANGELOG.md
Labels: ci/cd

#182 ci: testing with py3.12
  .github/workflows/ci-testing.yml
  .github/workflows/ci-use-checks.yaml
  setup.py
Labels: enhancement, ci/cd

#183 ci: expose base branch & narrow scope for md links
  .github/workflows/check-md-links.yml
  .github/workflows/ci-use-checks.yaml
  CHANGELOG.md
Labels: ci/cd

#185 ci: validate installing with extras & rename private req.
  .github/actions/pkg-install/action.yml
  .github/workflows/check-package.yml
  .github/workflows/ci-testing.yml
  .github/workflows/ci-use-checks.yaml
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  Makefile
  requirements/_docs.txt
  requirements/_tests.txt
  setup.py
Labels: documentation, ci/cd, package, tests, dependencies

#186 fixing RTFD
  .github/workflows/ci-rtfd.yml
  docs/.readthedocs.yaml
Labels: ci/cd

#187 Add `rank_zero_only(..., default=)` argument
  CHANGELOG.md
  src/lightning_utilities/core/rank_zero.py
  tests/unittests/core/test_rank_zero.py
Labels: enhancement, package, tests
