Repository Lightning-AI/utilities, pull requests merged in 2023-01, with the labels that each got.

#83 ci: using outputs & cache dispatch
  .github/actions/cache/action.yml
  .github/actions/unittesting/action.yml
  .github/workflows/cron-clear-cache.yml
Labels: enhancement

#84 ci: schema yaml & yml + verbose
  .github/workflows/check-schema.yml
  .github/workflows/ci-use-checks.yaml
  CHANGELOG.md
  README.md
Labels: bug, enhancement

#87 Add missing changelog for #86
  CHANGELOG.md
Labels: documentation
