Repository Lightning-AI/utilities, pull requests merged in 2023-02, with the labels that each got.

#96 ci/docs: allow passing env. variables
  .github/workflows/check-docs.yml
  .github/workflows/deploy-docs.yml
Labels: enhancement

#97 update GH templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#98 Allow frozen dataclasses in `apply_to_collection`
  CHANGELOG.md
  src/lightning_utilities/core/apply_func.py
  tests/unittests/core/test_apply_func.py
Labels: enhancement

#99 fix & extend `StrEnum.from_str`
  CHANGELOG.md
  src/lightning_utilities/core/enums.py
Labels: bug, enhancement

#104 ci: build package
  .github/actions/pkg-create/action.yml
  CHANGELOG.md
Labels: enhancement

#105 ruff: fix docs in src/
  pyproject.toml
  src/lightning_utilities/cli/__init__.py
  src/lightning_utilities/cli/__main__.py
  src/lightning_utilities/core/__init__.py
  src/lightning_utilities/core/apply_func.py
  src/lightning_utilities/core/enums.py
  src/lightning_utilities/core/imports.py
  src/lightning_utilities/core/inheritance.py
  src/lightning_utilities/core/overrides.py
  src/lightning_utilities/core/rank_zero.py
  src/lightning_utilities/test/warning.py
Labels: documentation
