Repository Lightning-AI/utilities, pull requests merged in 2024-07, with the labels that each got.

#281 Replace deprecated `pkg_resources`
  CHANGELOG.md
  src/lightning_utilities/core/imports.py
  tests/unittests/core/test_imports.py
Labels: package, tests

#282 Bump version to 0.11.4 for release
  CHANGELOG.md
  src/lightning_utilities/__about__.py
Labels: package

#283 Fix extras check in RequirementCache
  src/lightning_utilities/__about__.py
  src/lightning_utilities/core/imports.py
  tests/unittests/core/test_imports.py
Labels: bug, package, tests

#287 ci: rename `import-extras` to `custom-import`
  .github/actions/pkg-install/action.yml
  .github/workflows/check-package.yml
  .github/workflows/ci-use-checks.yaml
  CHANGELOG.md
Labels: ci/cd

#288 ci: update mypy check
  .github/workflows/check-typing.yml
  CHANGELOG.md
Labels: ci/cd

#292 Fix parsing pre-release package versions
  CHANGELOG.md
  src/lightning_utilities/__about__.py
  src/lightning_utilities/core/imports.py
  tests/unittests/core/test_imports.py
Labels: package, tests
